*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #250606;
}
h1{
    font-size: 5em;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
h1 span{
   
    display: inline-block;
    
}